.profile__avatar-container {
    inline-size: fit-content;
    block-size: fit-content;
    position: relative;
    cursor: pointer;
}
  
  .profile__avatar-container:hover .profile__avatar-overlay {
    visibility: initial;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.6s;
}