.element__delete{
    background-image: url("../../../images/Trash.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    min-width: 18px;
    min-height: 19px;
    background-color: transparent;
    cursor: pointer;
}

.element__delete:hover {
    opacity: .6;
    cursor: pointer;
}