.element__like{
    margin: 0;
    min-width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/Group.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.element__like:hover {
    opacity: .6;
    cursor: pointer;
}

